@model Voks.Models.MainViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VOKS</title>
    <link href="~/Content/normalize.css" rel="stylesheet" />
    <link href="~/Content/app.css" rel="stylesheet" />
</head>
<body>
    <div id="container">
        <div id="selected-images" class="scrolls-wrapper">
            <div class="scrolls">
            </div>
        </div>
        <div id="categories" class="scrolls-wrapper">
            <div class="scrolls">
                @foreach (var category in Model.Categories)
                {
                    <div class="category selectable-box" data-category="@Json.Encode(category)">
                        <div class="category-title">@category.Name</div>
                        <div class="category-thumbmails">
                            <img src="~/Content/Images/loading.gif" />
                            <img src="~/Content/Images/loading.gif" />
                            <img src="~/Content/Images/loading.gif" />
                            <img src="~/Content/Images/loading.gif" />
                        </div>
                    </div>
                }
            </div>
        </div>
        <div id="images" class="scrolls-wrapper">
            <div class="scrolls">
            </div>
        </div>
    </div>

    <input type="hidden" id="categories-base-path" value="@Model.CategoriesBasePath" />

    <script src="~/Scripts/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/app.js"></script>
</body>
</html>
